/* You can add global styles to this file, and also import other style files */
.add-card{
    margin-right: 20px;
}

.bill-label{ 
    display: block;
    font-size: 12px;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 16px;
}

.bill-input{
    box-sizing: border-box !important;
  display: block !important;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 12px !important;
  gap: 10px;
  width: 100% !important;
  line-height: 20px !important;
  border: 1px solid rgb(95, 228, 28) !important;
  border-radius: 6px !important;
  font-size: 14px !important;
  flex: none;
  order: 1;
  flex-grow: 0;
  /* color: var(--neutral-colour-800) !important;
  background-color: var(--neutral-colour-0) !important; */

  &:hover{
    border: 1px solid rgba(124, 196, 0, 0.5) !important;
    box-shadow: 0 0 0 2px rgba(124, 196, 0, 0.5) !important;
  }

  &:focus{
    box-shadow: 0 0px 0px 2px rgb(124 196 0 / 1) !important;
  }
  &:active{
    box-shadow: 0 0px 0px 2px rgb(124 196 0 / 1) !important;
  }
  &::placeholder{
    
  }
 

}

.bill-pm-bt{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border: 1px solid rgb(2, 248, 39);
    background-color: rgb(180, 255, 255);
    font-size: 17px;
    font: normal;
    font-weight: 400;

    &:hover{
        border: 1px solid rgb(48, 135, 1);
        box-shadow: 0 0 0 2px rgb(124 196 0 / 1);
    }
}

.bottom-straight{
  border-radius: 0.375rem 0.375rem 0rem 0rem;
}
.top-straight{
  border-radius: 0rem 0rem 0.375rem 0.375rem;
}
.both-straight{
  border-radius: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.preview-dialog{
  width: 75%;
  height: 100vh;
  right: 0;
  top: 0;
  position: absolute !important;
}
